.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 0 1rem;
    border-radius: 5px;
    height: 2rem;
}

.title, .arrow {
    font-size: 1rem;
    color: aliceblue;
}

.collapse {
    height: auto;
    padding-bottom: 1rem;
    color: rgb(232, 81, 81);
}

.div, .collapse {
    background-color: rgb(243, 235, 235);
    width: 90%;
    margin: 1rem auto;
    border-radius: 15px;

}