.header {
    width: 100vw;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background-color: rgb(231, 237, 235);
  }

.menu {
    display: flex;
}

.menuItem {
    margin-right: 1rem;
    color: red;
    text-decoration: none;
    text-transform: uppercase;
}