/* ============= Composant image ============== */

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 15px;
  width: 90%;
  height: 5rem;

  margin: 0.4rem auto .4rem auto
}

.imageTxt {
  color: rgb(255, 255, 255);

}

/* ============= Composant grid ============== */

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.4rem;
    background-color: rgb(196, 179, 179);
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;

}

.item {
  flex-grow: 1;

  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 250px;

  background-color: orange;
  border-radius: 15px;
}

.itemTitle {
  color: red;
  text-decoration: none;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  width: 5rem;
}


/* =================== Media query =================*/

@media screen and (min-width: 480px) {
  .container {
    flex-direction: row;
    gap: 1rem;
  }

  .item {
    width: 250px;

  }
}
