/* ============= Composant image ============== */

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 15px;
  width: auto;
  height: 5rem;

  margin-bottom: 5px;
}

.imageTxt {
  color: rgb(255, 255, 255);

}

/* ============= Composant grid ============== */

.container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    background-color: rgb(209, 224, 212);
    border-radius: 15px;
}

.item {
  display:flex;
  flex-direction: column;
  height: 150px;
  width: 30%;
  margin: 5px;

  background-color: orange;
  border-radius: 15px;
}

.itemImage {
  height: 150px;
  width: 150px;
}

.itemTitle {
  text-decoration: none;
}
