.collapseFlex {
  display: flex;
  flex-direction: column;
}

/* ======================= Carrousel ================== */


.carouselDiv  {
  position: relative;

}

.carrouselImage {
  height: 300px;
  width: 100%;
  top: 250px;
  object-fit: cover;
}

.carrouselArrow {
  position: absolute;
  bottom: 50%;
  right: 0;
  left: 0;
  color: rgb(255, 255, 255);
  font-size: 2rem;

  width: 97%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

.carrouselLength {
  position: absolute;
  bottom: 0;
  right: 45%;
  color: rgb(255, 255, 255);
  font-size: 1rem;

}


/*============ Information location et host ============== */

.infoContainer {

  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 480px) {
  .infoContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.infoLocation {
  background-color: rgb(215, 208, 208);
}

.infoLocation > h1, h2 {
  color: rgb(228, 12, 12);
}

.infoLocation > h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.infoLocation > h2 {
  font-size: 1rem;
}

.infoTagsContainer {
  display: flex;
}

.infoTagsItem {
  background-color: rgb(176, 38, 38);
  border-radius: 5px;
  color: white;
  margin: 0 0.5rem;
  padding: 0.1rem 0.5rem;
}

/* ====================== host ==================*/

.hostContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(43, 150, 226);
  margin-top: 0.5rem;
}

.hostInfo {
  background-color: rgb(142, 34, 213);
  display: flex;
  order: 2;
}

.hostInfo > img {
  height: auto;
  width: 3rem;
  border-radius: 50%;
}

.hostName {
  margin-right: 0.5rem;
}

/* ========== host rating ===========*/

.hostRatingFlex {
  display: flex;
  margin-right: 0.2rem;
  align-items: center;
  order: 1;
}

.hostRatingGrey {

  color: grey;
  margin-left: 0.2rem;
}

.hostRatingOrange {
  
  margin-left: 0.2rem;
  color: rgb(240, 90, 21);
}

/*============ Description et équipement ============== */

.collapseDiv {
  margin: 1.5rem auto;
  flex: 1;
  width: 100%;
}

.collapseText {
  height: auto;
  padding: 0.5rem;
  color: rgb(232, 81, 81);
}

.collapseTextEquipement {
  height: auto;
  line-height: 0.1rem;
  color: rgb(232, 81, 81);
}

/* ============== Gestion Collapse ================ */

.isClosed {
  overflow: hidden;
  transition: height 1s ease-out;
  height: 0;
}

.isOpen {
  height: auto;
}


/* ======================= Media query ============================= */

@media screen and (min-width: 480px) {
  .collapseFlex {
    flex-direction: row;
    gap: 2rem;
  }

  .hostContainer {
    flex-direction: column;
  }

  .hostInfo {
    order: 1;
  }

  .hostRatingFlex {
    order: 2;
  }
}