.collapseFlex {
  display: flex;
  flex-direction: column;
}

/* ======================= Carrousel ================== */


.carouselDiv  {
  position: relative;
  margin-top: 1.5rem;

}

.carrouselImage {
  height: 300px;
  width: 100%;
  top: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.carrouselArrow {
  position: absolute;
  bottom: 50%;
  right: 0;
  left: 0;
  color: rgb(255, 255, 255);
  font-size: 2rem;

  width: 97%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

.carrouselLength {
  position: absolute;
  bottom: 0;
  right: 45%;
  color: rgb(255, 255, 255);
  font-size: 1rem;

}


/*============ Information location et host ============== */

.infoContainer {
  display: flex;
  flex-direction: column;
  line-height: 0.8rem;
  margin-top: 0.5rem;
}

.infoLocation > h1 {
  font-size: 2rem;
  color: #FF6060;
}

.infoLocation > h2 {
  font-size: 1rem;
  color: #FF6060;
}

.infoTagsContainer {
  display: flex;
}

.infoTagsItem {
  background-color: #FF6060;
  border-radius: 5px;
  color: white;
  margin-right: 0.5rem;
  padding: 0.2rem 1.5rem;
  font-size: 0.8rem;
  font-weight: 400;
}

/* ====================== host ==================*/

.hostContainer {
  display: flex;
  justify-content: space-between;
}

.hostInfo {
  display: flex;
  order: 2;
  align-items: center;
  
}

.hostImage {
  height: 3.2rem;
  width: auto;
  clip-path:ellipse(50% 50%);
}

.hostName {
  margin-right: 1rem;
  line-height: 1.5rem;
  color: #FF6060;
  width: 5rem;
  text-align: end;
  
}

/* ========== host rating ===========*/

.hostRatingFlex {
  display: flex;
  margin-right: 0.2rem;
  align-items: center;
  order: 1;
}

.hostRatingGrey {

  color: grey;
  margin-left: 0.2rem;
}

.hostRatingOrange {
  
  margin-left: 0.2rem;
  color:#FF6060;
}

/*============ Description et équipement ============== */

.collapseDiv {
  flex: 1;
}

.collapseTextDescription {
  height: auto;
  padding: 0.5rem;
  color: rgb(232, 81, 81);
  font-weight: 400;
}

.collapseTextEquipement {
  height: auto;
  line-height: 0.2rem;
  color: rgb(232, 81, 81);
  font-weight: 400;
  padding: 0 0.5rem;
}

/* ======================= Media query ============================= */

@media screen and (min-width: 692px) {
  .collapseFlex {
    flex-direction: row;
    gap: 5rem;
  }

  .hostContainer {
    flex-direction: column;
    align-items: flex-end;
  }

  .hostInfo {
    order: 1;
  }

  .hostRatingFlex {
    order: 2;
    padding-bottom: 1.5rem;
  }

  .hostImage {
    height: 4rem;
  }

  .infoContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}